  <?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
  <plist version="1.0">
  <dict>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>com.tinyapp.DBngin.postgresql-7EB54C46-F190-416A-83BB-116F3618A595</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/Shared/DBngin/postgresql/15.1/bin/postgres</string>
      <string>-D</string>
      <string>/Users/goshgar/Desktop/PPDA/DB</string>
      <string>-p</string>
      <string>3306</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Users/Shared/DBngin/postgresql/15.1</string>
    <key>StandardOutPath</key>
    <string>/Users/goshgar/Desktop/PPDA/DB/postgres_out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/goshgar/Desktop/PPDA/DB/postgres_err.log</string>
  </dict>
  </plist>